Support for servers with broken line endings

I'm informed that some allegedly-HTTP servers use `\r` or `\n` for line endings, and that robust clients need to support this too.

Sigh.

Maybe the thing to do is to watch for `\r\r` or `\n\n` in the headers block and then go into a special case mode if we see it?

(NB I'm probably not going to work on this any time soon)

CC: @durin42 since it's his fault I know about this

From RFC 7230 Section 3.5 (Message Parsing Robustness):

> Although the line terminator for the start-line and header fields is the sequence CRLF, a recipient MAY recognize a single LF as a line terminator and ignore any preceding CR.

This suggests that allowing simply `\n` and not `\r` is acceptable, which I think is probably the way to go. While *technically* just `'\r` *might* happen, I really don't think it's worth it in terms of compat cost.


> On Jun 4, 2016, at 4:06 PM, Cory Benfield <notifications@github.com> wrote:
> 
> This suggests that allowing simply \n and not \r is acceptable, which I think is probably the way to go. While technically just '\r might happen, I really don't think it's worth it in terms of compat cost.
> 
> 

Sadly, I’ve *seen* \r without \n in the wild. :(

Oh, so have I. But I am a strong advocate of telling implementations that haven't read RFCs to go take a long walk off a short pier.

I'm not sure it makes much difference in terms of implementation simplicity, because h11's trick for simple fast HTTP header parsing is use `bytearray.find("\r\n\r\n")`, so we'd still have to duplicate this check to look for `\n\n` at least.

BTW, I assume that servers that screw this up for headers also screw it up for chunked encoding?

@njsmith No need to duplicate the check: better to swap to a fairly simple regex. Either way you desperately need to avoid having too much cleverness here in Python, because each time you come back into Python code to process the bytestream you slow down a *load* on CPython (which for better or worse is what users will use to judge your perf).

@Lukasa: yeah, agreed that `re.search` is probably the way to go, and that's why we're already doing header framing handling in a single call into the C runtime... but my point is that if we were doing line-by-line scanning then searching for `\n` would be just as easy as searching for `\r\n` (and would handle `\r\n` implicitly)... but since we're scanning for the whole headers at once then we need to do some sort of explicit handling of both `\r\n\r\n` and `\n\n`, and once you have two cases then adding a third probably isn't that hard.

More notes on this for future reference:

It looks like most extant parsers accept `\n` or `\r\n` on a line-by-line basis (i.e., even mixed headers are accepted). Here's an example of a broken API that returned a mix of both: http://mehdi.me/a-tale-of-debugging-the-linkedin-api-net-and-http-protocol-violations/

(Searching the web for that .NET error message -- "The server committed a protocol violation. Section=ResponseHeader Detail=CR must be followed by LF" -- is a good way to find other examples of broken servers. Apparently .NET is the one HTTP client that really enforces this. The error message is emitted any time a .NET client sees a CR without an LF, or an LF without a CR, unless its been configured in this horrible global be-sloppy-and-insecure more.)

I'm not 100% convinced we need to accept mixed headers, but it would probably be good to at least error out early if we see lone `\r` or `\n` -- right now if we'll just block forever waiting for `\r\n\r\n`, which might never arrive.

OTOH it looks like for chunked encoding, at least `http.client` and [go](https://golang.org/src/net/http/internal/chunked.go) both require `\r\n` only, no exceptions. So we probably don't need to worry about that. I guess server implementors who are too lazy to implement headers properly are also too lazy to implement chunked encoding.