“Expect: 100-continue” is treated case-sensitively

h11 currently [checks for the `100-continue` expectation](https://github.com/njsmith/h11/blob/a894b105bc6b54cd892aeff2fab12dd6431ab458/h11/_headers.py#L161-L163) case-sensitively.

However, according to [RFC 7231 § 5.1.1](https://tools.ietf.org/html/rfc7231#section-5.1.1):

> The Expect field-value is case-insensitive.

Wow, that's embarrassing. I must have double-checked that section like 3 times and misread it every time...

@vfaronov: See #40 for a proposed fix